@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
    color: aqua;
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
    color: aqua;
}
* {
    box-sizing: border-box;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: left;
    color: aqua;
 }
 p{
    color: rgb(255, 255, 255);
    font-style: italic;
 }

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(./assets/img/webtreats_deep_water_blues_5.jpg);
    background-repeat: repeat;
    font-family: 'Roboto';  
}
.header{
    background-color: rgba(18, 107, 207, 0.815);
}   
.header-ul {
    list-style: none;
    color: white;
    display: inline-block;
    margin: 20px 25%;
}
      
.header-ul-li {
    display: inline-block;
    min-width: 7rem;
    text-align: center;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(118, 195, 209);

}
.main-container {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0 2%;
}
.main-content-l {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .main-content-r {
    display: flex;
    flex-direction: column;
    width: 70%;
  } 
  
.main-content-elements{
    width: 50%;
    height: auto;
    margin: 2%;
    padding: 1%;
}
.photo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-content-next{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.main-content-next-elements{
    display: block;
    width: 100%;
    height: auto;
    margin: 2%;
    padding: 1%;
}

.main-ul{
    color: white;
    font-style: italic;
    }
.main-ul-li{
    margin: 1%;
    padding: 1%;
}
footer{
    background-color: rgba(18, 107, 207, 0.815);
}
.for-logo{
    display: inline-flex;
    justify-content: space-between;
}
.for-logo-element{
    display: block;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    font-size: 1.5em;
    text-decoration: none;
}
.logo{
    display: block;
    margin: 0 auto; 
    width: 30%;
}
.code{
    width: 75%;
}
